<div id="sub-layer" class="container">
  <div id="center-logo">
    <img src="assets/logo.svg" alt="">
  </div>

  <div id="center-greating">
    <h1>Вас вітає <br/> котеджне містечко провесінь!</h1>

    <p>Сайт в стадії розробки, запуск незабаром</p>
  </div>

  <div id="center-gallery" class="container">
    <div class="item1">
      <img src="<%= asset_url("x1.jpg") %>" alt="">
    </div>
    <div class="item2">
      <img src="<%= asset_url("x2.jpg") %>" alt="">
    </div>
    <div class="item3">
      <img src="<%= asset_url("x3.jpg") %>" alt="">
    </div>
    <div class="item4">
      <img src="<%= asset_url("x4.jpg") %>" alt="">
    </div>
  </div>

  <div id="facebook">
    <a href=""><img src="<%= asset_url("fc.png") %>" alt=""></a>
  </div>

  <div id="footer-items">
    <p>+38 (068) 222-20-20</p>
  </div>
  <div id="last-email">
    <a href="mailto:provesin.lv@gmail.com" class="email">provesin.lv@gmail.com</a>
  </div>
</div>